body {
text-align: center;
min-width: 760px;
text-align: center;  
font-family: 'Josefin Sans', sans-serif;

}

h1{font-family: 'Anton', sans-serif;
    font-weight: 400;
    
h2{font-family: 'Ubuntu', sans-serif;
        font-weight: 400;    }
}

#wrapper {
width: 720px;
margin: 0 auto;
text-align: left;
}
    